<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark mb-2">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link" href="{{ url('index') }}">Produkty</a>
                <a class="nav-item nav-link" href="{{ url('category_index') }}">Kategorie</a>
                {% if is_granted('MANAGE') %}
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="newDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Utwórz…
                        </a>
                        <div class="dropdown-menu" aria-labelledby="newDropdown">
                            <a class="dropdown-item" href="{{ url('category_new') }}">Nową kategorię</a>
                            <a class="dropdown-item" href="{{ url('type_new') }}">Nowy rodzaj produktów</a>
                            <a class="dropdown-item" href="{{ url('product_new') }}">Nowy produkt</a>
                            <a class="dropdown-item" href="{{ url('photo_new') }}">Nowe zdjęcie</a>
                            <a class="dropdown-item" href="{{ url('colour_new') }}">Nowy kolor</a>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="navbar-nav">
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    {% if is_granted('BUY') %}
                        <a class="nav-item nav-link" href="{{ url('cart_view') }}">Koszyk</a>
					{% elseif not is_granted('MANAGE') %}
						<a class="nav-item nav-link" href="{{ url('customer_view') }}">Uzupełnij swoje dane</a>
                    {% endif %}
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ app.user.login }}
                        </a>
                        <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="userDropdown">
                            {% if not is_granted('MANAGE') %}
                                {% if is_granted('BUY') %}
                                    <a class="dropdown-item" href="{{ url('orders_index') }}">Moje zamówienia</a>
                                {% endif %}
                                <a class="dropdown-item" href="{{ url('customer_view') }}">Informacje</a>
                            {% endif %}
                            {% if is_granted('MANAGE') %}
                                <a class="dropdown-item" href="{{ url('admin_users') }}">Zarządzaj użytkownikami</a>
                                <a class="dropdown-item" href="{{ url('admin_orders') }}">Zarządzaj zamóweniami</a>
                            {% endif %}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ url('user_password') }}">Zmień hasło</a>
                            <a class="dropdown-item" href="{{ url('security_logout') }}">Wyloguj się</a>
                        </div>
                    </div>
                {% else %}
                    <a class="nav-item nav-link" href="{{ url('user_registration') }}">Utwórz konto</a>
                    <a class="nav-item nav-link" href="{{ url('security_login') }}">Zaloguj się</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
