<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark mb-2">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link" href="{{ url('index') }}">Home</a>
                <a class="nav-item nav-link" href="{{ url('category_index') }}">Categories</a>
                {% if is_granted('MANAGE') %}
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="newDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Create new
                        </a>
                        <div class="dropdown-menu" aria-labelledby="newDropdown">
                            <a class="dropdown-item" href="{{ url('category_new') }}">New category</a>
                            <a class="dropdown-item" href="{{ url('type_new') }}">New product type</a>
                            <a class="dropdown-item" href="{{ url('product_new') }}">New product</a>
                            <a class="dropdown-item" href="{{ url('photo_new') }}">New photo</a>
                            <a class="dropdown-item" href="{{ url('colour_new') }}">New colour</a>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="navbar-nav">
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    {% if app.user.customer is defined and app.user.customer|length %}
                        <a class="nav-item nav-link" href="{{ url('cart_view') }}">Your cart</a>
                    {% endif %}
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ app.user.login }}
                        </a>
                        <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="userDropdown">
                            {% if app.user.role.name|default('none') == 'user' %}
                                <a class="dropdown-item" href="{{ url('orders_index') }}">Moje zamówienia</a>
                                <a class="dropdown-item" href="{{ url('customer_view') }}">Info</a>
                            {% endif %}
                            {% if is_granted('MANAGE') %}
                                <a class="dropdown-item" href="{{ url('admin_users') }}">Manage users</a>
                                <div class="dropdown-divider"></div>
                            {% endif %}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ url('user_password') }}">Change password</a>
                            <a class="dropdown-item" href="{{ url('security_logout') }}">Logout</a>
                        </div>
                    </div>
                {% else %}
                    <a class="nav-item nav-link" href="{{ url('user_registration') }}">Register</a>
                    <a class="nav-item nav-link" href="{{ url('security_login') }}">Login</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
