{% extends 'base.html.twig' %}

{% block title %}
    {{ 'label.categories'|trans }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1>{{ 'label.categories'|trans }}</h1>
            {% if data is defined and data|length %}
                <div class="list-group">
                    {% for category in data %}
                        <a href="{{ url('category_view', {'id': category.id}) }}" class="list-group-item list-group-item-action">{{ category.name }}</a>
                    {% endfor %}
                </div>
            {% else %}
                <p>{{ 'label.nocategories'|trans }}.</p>
            {% endif %}
        </div>
    </div>
    {% if is_granted('MANAGE') %}
        <div class="row">
            <div class="col">
                <div class="btn-group">
                    <a class="btn btn-outline-info" href="{{ url('category_new') }}">{{ 'category.new'|trans }}</a>
                    {% if not ( data is defined and data|length ) %}
                        <a class="btn btn-outline-danger" href="{{ url('category_delete', {'id': item.id}) }}">{{ 'button.delete'|trans }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
