{% extends 'base.html.twig' %}

{% block title %}
	Twoje informacje
{% endblock %}

{% block body %}
    <div class="row">
        <div class="column">
            <p>
                <strong>Nazwisko:</strong> {{ customer.name }} {{ customer.surname }}<br />
                <strong>Email:</strong> {{ customer.email }}<br />
                <a class="btn btn-primary" href="{{ url('customer_edit') }}">Zmień</a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="column">
            {% if customer.address %}
                {% set address = customer.address.address %}
                <p>
                    <strong>Ulica:</strong> {{ address.street }} {{ address.number }}<br />
                    {{ address.city }}, {{ address.postalcode }}<br />
                    <a class="btn btn-primary" href="{{ url('address_edit') }}">Zmień</a>
                </p>
            {% else %}
                <a class="btn btn-primary" href="{{ url('address_new') }}">Podaj adres</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
