{% extends 'base.html.twig' %}

{% block title %}
	Lista produktów.
{% endblock %}

{% block body %}
	<h1>produkty</h1>
	{% if data is defined and data|length %}
		<table class="table table-striped">
			<thead class="thead-dark">
				<tr>
					<th>Id</th>
					<th>Kategoria</th>
					<th scope="col">
						Nazwa
					</th>
					<th>Opis</th>
				</tr>
			</thead>
			<tbody>
				{% for item in data %}
					<tr>
						<td>{{ item.id }}</td>
						<td>{{ item.category.name }}</td>
						<td><a href="/product/{{ item.id }}">{{ item.name }}</a></td>
						<td>{{ item.description }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p>
		Empty list.
		</p>
	{% endif %}
{% endblock %}
