{% extends 'base.html.twig' %}

{% block title %}
    {{ item.name }}
{% endblock %}

{% block body %}
    <h1>{{ item.name }}</h1>
    <p>{{ item.description }}</p>
    {% if data is defined and data|length %}
		<table class="table table-striped">
			<thead class="thead-dark">
				<tr>
					<th>Id</th>
					<th>Kolor</th>
					<th>Cena</th>
				</tr>
			</thead>
			<tbody>
				{% for product in data %}
					<tr>
						<td>{{ product.id }}
                        {% if is_granted('MANAGE') %}
                            <a href="{{ url('product_edit', { 'id': product.id}) }}">Edit.</a>
                        {% endif %}
                        </td>
						<td>{{ product.colour.name }}</td>
						<td>{{ product.price }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		{% if is_granted('MANAGE') %}
			<a href="{{ url('product_new_with_id', {'id': item.id}) }}">Add new product.</a>
		{% endif %}
    {% else %}
        <p>No products.</p>
    {% endif %}
    <p class="text-secondary">Category: {{ item.category.name }}</p>
{% endblock %}
