{% extends 'base.html.twig' %}

{% block title %}
	Product list.
{% endblock %}

{% block body %}
	<h1>Our products</h1>
	{# {% if data is defined and data|length %} #}
	{% if pagination is defined and pagination|length %}
		<div class="row justify-content-center">
			<div class="col col-auto navigation text-center">
				{{ knp_pagination_render(pagination) }}
			</div>
		</div>
		<div class="row">
			{% for item in pagination %}
				<div class="col-12 col-md-6 col-lg-4 pb-4">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">
								<a class="card-link stretched-link" href="/product/{{ item.id }}">{{ item.id }}</a>
								{{ item.name }}
							</h5>
							<h6 class="card-subtitle text-muted">{{ item.category.name }}</h6>
							<p class="card-text">{{ item.description }}</p>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		<div class="row justify-content-center">
			<div class="col col-auto navigation text-center">
				{{ knp_pagination_render(pagination) }}
			</div>
		</div>
	{% else %}
		<p>
		Empty list.
		</p>
	{% endif %}
{% endblock %}
