{% extends 'base.html.twig' %}

{% block title %}
    {{ item.name }}
{% endblock %}

{% block body %}
    <h1>{{ item.name }}</h1>
    <p class="text-secondary">Category: {{ item.category.name }}</p>
    <p>{{ item.description }}</p>
    {% if data is defined and data|length %}
        <div class="row">
            {% for product in data if item.products|length %}
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-title">{{ product.colour.name }}</h6>
                            {% for photo in product.photos %}
                                <img class="card-img mb-1" src="{{ asset('uploads/' ~ photo.location) }}" />
                            {% endfor %}
                            <p class="card-text">
                                {{ (product.price/100)|number_format(2,'.','') }}
                                <span class="text-muted">zł</span>
                            </p>
                            {% if is_granted('MANAGE') %}
								<div class="btn-group">
									<a
										class="btn btn-outline-info"
										href="{{ url('photo_new_with_id', { 'id': product.id}) }}">
										Add photo
									</a>
									<a
										class="btn btn-outline-info"
										href="{{ url('product_edit', { 'id': product.id}) }}">
										Edit
									</a>
									<a
										class="btn btn-outline-danger"
										href="{{ url('product_delete', { 'id': product.id}) }}">
										Delete
									</a>
								</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No products.</p>
    {% endif %}
    {% if is_granted('MANAGE') %}
		<div class="btn-group">
			<a class="btn btn-outline-info" href="{{ url('product_new_with_id', {'id': item.id}) }}">Add new product</a>
			<a class="btn btn-outline-info" href="{{ url('type_edit', {'id': item.id}) }}">Edit</a>
            {% if not ( data is defined and data|length ) %}
                <a class="btn btn-outline-danger" href="{{ url('type_delete', {'id': item.id}) }}">Delete</a>
            {% endif %}
		</div>
    {% endif %}
{% endblock %}
