{% extends 'base.html.twig' %}

{% block title %}
    {{ item.name }}
{% endblock %}

{% block body %}
    <h1>{{ item.name }}</h1>
    <p class="text-secondary"><a href="{{ url('category_view', {'id': item.category.id}) }}">Kategoria: {{ item.category.name }}</a></p>
    <p>{{ item.description }}</p>
    {% if data is defined and data|length %}
        <div class="row">
            {% for product in data if item.products|length %}
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-title">{{ product.colour.name }}</h6>
                            {% for photo in product.photos %}
                            <div class="position-relative">
                                <img class="card-img mb-1" src="{{ asset('uploads/' ~ photo.location) }}" />
                                {% if is_granted('MANAGE') %}
                                        <a class="btn btn-danger position-absolute"
                                           style="top:0; right:0;"
                                           href="{{ url('photo_delete', {'id': photo.id}) }}">
                                            Usuń
                                        </a>
                                {% endif %}
                            </div>
                            {% endfor %}
                            <p class="card-text">
                                {{ (product.price/100)|number_format(2,'.','') }}
                                <span class="text-muted">zł</span>
                            </p>
                            {% if is_granted('BUY') %}
                                <a class="btn btn-primary"
                                   href="{{ url('cart_add', {'id': product.id}) }}">
                                    Dodaj do koszyka
                                </a>
                            {% endif %}
                        </div>
                        {% if is_granted('MANAGE') %}
                        <div class="card-footer">
                            <div class="btn-group">
                                <a
                                    class="btn btn-outline-info"
                                    href="{{ url('photo_new_with_id', { 'id': product.id}) }}">
                                    Dodaj zdjęcie
                                </a>
                                <a
                                    class="btn btn-outline-info"
                                    href="{{ url('product_edit', { 'id': product.id}) }}">
                                    Zmień
                                </a>
                                <a
                                    class="btn btn-outline-danger"
                                    href="{{ url('product_delete', { 'id': product.id}) }}">
                                    Usuń
                                </a>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Brak produktów</p>
    {% endif %}
    {% if is_granted('MANAGE') %}
        <div class="row">
            <div class="col">
                <div class="btn-group">
                    <a class="btn btn-outline-info" href="{{ url('product_new_with_id', {'id': item.id}) }}">Dodaj nowy produkt</a>
                    <a class="btn btn-outline-info" href="{{ url('type_edit', {'id': item.id}) }}">Zmień</a>
                    {% if not ( data is defined and data|length ) %}
                        <a class="btn btn-outline-danger" href="{{ url('type_delete', {'id': item.id}) }}">Usuń</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
